@import url('https://fonts.googleapis.com/css?family=Cardo|Open+Sans|Playfair+Display:400,900');

// GENERAL STYLING AND NAVIGATION

body {
  margin: 0%;
}

#root {
  background-image: url('space-backgroundX.jpg');
  background-size: cover;
  width: 100%;
}

.navigation {
  background: rgba(32, 33, 33, 0.4);
  border-bottom: 3px solid white;
  height: 5rem;
  display: flex;
  justify-content: center;
}

.navigation-link {
  margin: 0% 5%;
}

.navigation-button {
  background: inherit;
  font-size: 1.5rem;
  padding: 0%;
  border: none;
  font-family: 'Futura', serif;
  width: 10rem;
  height: 5rem;
  transition-duration: 0.5s;
  color: white;
}

.navigation-button:hover {
  font-size: 1.6rem;
}

.navigation-button:focus {
  font-size: 1.6rem;
  outline: none;
}

@media only screen and (max-width: 790px) {
  .navigation-button {
    font-size: 1rem;
    margin: 0%;
    font-family: 'Futura', serif;
    width: 7rem;
    height: 4rem;
  }

  .navigation-button:hover {
    font-size: 1.2rem;
  }

  .navigation-button:focus {
    font-size: 1.2rem;
    outline: none;
  }

  .navigation-link {
    margin: 0%;
  }

  .navigation {
    height: 4rem;
  }
}

// MAIN TITLE SECTION

div.main-title {
  text-align: center;
  margin: 20% 0% 30% 2%;
}

h1#about-me-greeting {
  font-family: 'Futura';
  font-weight: lighter;
  font-size: 3rem;
  color: white;
  letter-spacing: 40px;
}

h2#about-me-title {
  font-family: 'Futura';
  font-weight: lighter;
  font-size: 1.5rem;
  color: white;
  letter-spacing: 30px;
}

hr.about-me-divider {
  border: 2px solid white;
}

@media only screen and (max-width: 790px) {

  h1#about-me-greeting {
    font-size: 2.5rem;
    letter-spacing: 20px;
  }

  h2#about-me-title {
    font-size: 1rem;
    letter-spacing: 10px;
  }

}

// ABOUT ME

div.about-me-div {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);

}

img#profile-image {
  margin-top: -10rem;
  border-radius: 100%;
  border: 4.5px solid white;
  max-height: 20rem;
}

p.about-me-content {
  color: white;
  font-family: 'Open Sans';
  font-size: 1.5rem;
  letter-spacing: 3px;
}

@media only screen and (max-width: 790px) {

  img#profile-image {
    margin-top: -5rem;
    border-radius: 100%;
    border: 3px solid white;
    max-height: 10rem;
  }

}
