@import url('https://fonts.googleapis.com/css?family=Cardo|Open+Sans');

* {
  font-family: 'Futura';
  font-weight: lighter;
}

body {
  margin: 0%;
}

#root {
  background: #eeeeee;
  height: 100rem;
  width: 100%;
}

.navigation {
  background: #ffffff;
  height: 5rem;
  display: flex;
  justify-content: center;
}

.navigation-link {
  margin: 0% 5%;
}

.navigation-button {
  font-size: 1.5rem;
  padding: 0%;
  border: none;
  font-family: 'Futura', serif;
  width: 10rem;
  height: 5rem;
  transition-duration: 0.5s;
}

.navigation-button:hover {
  color: #4f7e41;
}

.navigation-button:focus {
  color: #4f7e41;
  outline: none;
}

@media only screen and (max-width: 790px) {
  .navigation-button {
    font-size: 1rem;
    margin: 0%;
    font-family: 'Futura', serif;
    width: 7rem;
    height: 4rem;
  }

  .navigation-link {
    margin: 0%;
  }

  .navigation {
    height: 4rem;
  }
}
